<div>
  <mat-toolbar color="primary">
    <!-- <span><mat-icon>mood</mat-icon></span> -->

    <!-- <span> Games D-base !</span> -->

    <button mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon>apps</mat-icon>
    </button>
  </mat-toolbar>
  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item routerLink="/games">Catalog</button>
    <button mat-menu-item routerLink="/dashboard">Dashboard</button>
  </mat-menu>

  <mat-card>
    <button mat-button>All</button>
    <button mat-raised-button>Of</button>
    <button mat-raised-button color="primary">The</button>
    <button mat-raised-button color="accent">Buttons</button>
  </mat-card>

  <span class="done">
    <button mat-fab>
      <mat-icon>check circle</mat-icon>
    </button>
  </span>
</div>
<router-outlet></router-outlet>

<!-- <app-games></app-games> -->
<app-messages></app-messages>
