.games {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.games li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #eee;
  margin: 0.5em;
  padding: 0.3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.games li:hover {
  background-color: #bbd8dc !important;
  color: white;
}
.games li:hover {
  color: #607d8b;
  background-color: #ddd;
  left: 0.1em;
}
.games a {
  color: #888;
  text-decoration: none;
  position: relative;
  display: block;
  width: 250px;
}

.games a:hover {
  color: #607d8b;
}
.games .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607d8b;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: 0.8em;
  border-radius: 4px 0 0 4px;
}
button.delete {
  position: relative;
  left: 194px;
  top: -32px;
  background-color: gray !important;
  color: white;
}
