<h3>Top Games</h3>
<div class="grid grid-pad">
  <a
    *ngFor="let game of games"
    class="col-1-4"
    routerLink="/detail/{{ game.id }}">
    <div class="module game">
      <h4>{{ game.name }}</h4>
    </div>
  </a>
</div>
